<!-- createNewFolder.ejs -->

<%- include("partials/head") %>
<body>
  <%- include("partials/header") %>
  <%- include("partials/errors") %>
  <form action="/create-new-folder" method="post">
    <label for="folderName">Folder Name</label>
    <input type="text" name="folderName" required>
    <button type="submit">Create</button>
  </form>
</body>
<%- include("partials/footer") %>