<!-- file.ejs -->

<%- include("partials/head") %>
<body>
  <h1>Oops! There was an error.</h1>
  <h1>Error: <%= error %></h1>
  <h1><a href="/">Go back home.</a></h1>
</body>
<%- include("partials/footer") %>