<!-- index.ejs -->
<!-- This is the homepage at localhost:3000/ -->

<%- include("partials/head") %>
<body>
  <h1>Mustafa Drive</h1>
  <a href="">Log in</a>
  <br>
  <br>
  <a href="">Sign up</a>
  </div>
</body>
<%- include("partials/footer") %>